/* Device Tree Overlay para STM32 Nucleo-G474RE */

/ {
    aliases {
        pwm-servo = &pwm1;
    };
};

&timers1 {
    status = "okay";
    
    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch1_pa8>;
        pinctrl-names = "default";
    };
};

&adc1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    channel@1 {
        reg = <1>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

&usart2 {
    status = "okay";
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    current-speed = <115200>;
};

&pinctrl {
    /* UART2 - Console via ST-Link */
    usart2_tx_pa2: usart2_tx_pa2 {
        pinmux = <STM32_PINMUX('A', 2, AF7)>;
        bias-pull-up;
    };
    
    usart2_rx_pa3: usart2_rx_pa3 {
        pinmux = <STM32_PINMUX('A', 3, AF7)>;
        bias-pull-up;
    };
    
    /* ADC - Potenciômetro em PA0 */
    adc1_in1_pa0: adc1_in1_pa0 {
        pinmux = <STM32_PINMUX('A', 0, ANALOG)>;
    };
    
    /* PWM - Servo em PA8 */
    tim1_ch1_pa8: tim1_ch1_pa8 {
        pinmux = <STM32_PINMUX('A', 8, AF6)>;
    };
};

